
.Container-principal{
  margin: auto;
  width: 40%;
}

.hotelL{
  font-size:larger;
  margin: auto;
  text-align: center;
}

.resultado{
  margin: auto;
  width: 40%;

}
.app-container {
  display: flex;
  justify-content: center;
}

.container {
  
  padding: 20px;
  border-radius: 10px;
  width: 30%;
}

.form-input {
  margin-bottom: 20px;
  
}

.form-input label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  
}

.form-input input {

  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #0fb709;
  border-radius: 4px;
}

.form-input input[type="submit"] {
  background-color: #4CAF50;
  color: rgb(182, 23, 23);
  cursor: pointer;
}

.form-input input[type="submit"]:hover {
  background-color: #45a049;
}
